/* ----------------------------------------------------------- */
/*! Настройка классических элементов */
body{
    margin: 0;
    padding: 0;
    font-size: 17px;
    font: italic small-caps bold 16px/2 cursive;
}
td{
    border: 1px solid black;
}
h1{
  user-select: none;  
  color: white;
}

ul{
    color: white;
    user-select: none;
    margin-top: -15px;
    text-decoration: none;
}
li{
    user-select: none;
    padding-top: 5px;
    max-width: 27.7%;
    /* 27.7% макс-ширины четко */
    text-decoration: none;
}
/* li:active {
        transform: scale(0.9); 
} */

.liInformationFirst:active{
    transform: scale(0.9);
}
.liInformationTwo:active{
    transform: scale(0.9);
}   
.liInformationThree:active{
    transform: scale(0.9);
}
/* Уменьшаем размер элемента на 10% */
/* ----------------------------------------------------------- */
/*? --------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------- */
/*! Настройка header блока */
.header__nav{
    display: flex;
    background-color: #11021f;
    max-height: 103px;
    justify-content: center;
    /* #171d25  cтимовский)))*/
}
/* Блок первый */
.img__logo{
    width: 100px;
    height: 100%;
}

/* Блок второй */
.div__second{
    padding-left: 1%;
}
.h1__Header{
    color: white;
    user-select: none;
    /* padding-left: 5%; */
}
/* ----------------------------------------------------------- */
/*? --------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------- */
/*! Настройка main блока */
.main__nav{
    padding-top: 9%;
}
/* ----------------------------------------------------------- */
/*! Настройка первого блока в main */
.main__Block__First{
    text-align: center;
    display: flex;
}
/*! Настройка таблицы */
.tableSchetExpMoney{
    width: auto;
    height: 10vh; 
    margin-top: -4.5%;
    position: absolute;

    border-collapse: collapse;
    width: 200px;
    height: 60px;
    user-select: none;
}
/*! Настрйока tr */
.tableTrLineTwoStyle{
    background-color: rgba(98, 183, 0, 0.326);

}
/*! Настройка камня картинки */
.attack__Img__Rock__LvlFirst{
    background-color: white;
    width: 18%;
    height: 18%;
    margin-top: -3%;
    margin-left: 20%;
    border-radius: 40%;
    /* border: 3px solid green; */
    cursor: pointer;
    user-select: none;
}
.attack__Img__Rock__LvlFirst:active{
    transform: scale(0.98); 
}

/*! Настройка второй таблицы с характеристикой */
.tableSchetCharacteristic   {
    width: auto;
    margin-top: 3.5%;
    border-collapse: collapse;
}
/* ----------------------------------------------------------- */
/*! Настройка второго блока */
.main__Block__Two{
    display: flex;
    align-items: center;
    margin-top: 5%;
    padding-top: 1%;
    background-color: #171d25
}
.imgCursor{
    pointer-events: none;
    border-radius: 50%;
    width: 4%;
    height: 6%;
}
.informationBlockTwo{
    display: inline-block;
    margin-top: 0.5%;
    padding-bottom: 2%;
    color: white;
    user-select: none;
    padding-left: 1%;
    width: 34%;
    height: 20vw;
    list-style-type: none;
}
.containerSavePriceLiElementStyle{
    width: 17vw;
    color: white;
    list-style-type:none;
    margin-left: -20vw;
    padding-top: 2.5vw;
}
.liInformationFirst{
    text-align: match-justify;
    border: solid white;
    border-radius: 10%;
    margin-top: 1.8vw;
}
.liInformationTwo {
    
    border: solid white;
    border-radius: 10%;
    margin-top: 10%;

}
.liInformationThree{
    border: solid white;
    border-radius: 10%;
    margin-top: 10%;
}
.liContainerPriceStyle{
    padding-bottom: 1.7vw;
}

/*! Третий блок для рабочих */
.containerWorkGuysClass{
    /* text-decoration: none; */
    display: inline-block;
    margin-top: 0.5%;
    padding-bottom: 2%;
    color: white;
    user-select: none;
    padding-left: 1%;
    width: 34%;
    height: 20vw;
    list-style-type: none;
    
}
/* Картинка для украшения заголовка Покупка рабочих */
.imgWorkGuyClass{
    pointer-events: none;
    border-radius: 50%;
    width: 4%;
    height: 6%;
}
/* Кнопка рабочие */
.liButtonWorkGuysClass{
    padding-top: 6.5vw;
    color: white;
    font-size: 2em;
    /* list-style-type: none; */
}
.liButtonWorkGuysClass:active{
    transform: scale(0.95);  
    
    /* Настроить время */

}

/*? --------------------------------------------------------------------------------------------------------------------------------- */
