# ===========================================
# История проекта "ClickerJS":
# Всё о новшествах и изменений.
README.txt
# ===========================================
# Изображения которые используется в проекте
/img/
# ===========================================
/WorkSpace/imgVproject
# ===========================================с